@import '_params.scss';

@keyframes element-move {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  65% {
    opacity: 0.2;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fuzZz-move {
    from {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes loader-text-up {
    0%, 100% {opacity: .05;}
    50% {opacity: 1;}
}

@keyframes result-name-up {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes result-answer-up {
    from {opacity: 0; transform: translateY(8px);}
    40% {transform: translateY(-4px);}
    80% {opacity: .8; transform: translateY(0px);}
    to {opacity: 1;}
}

@keyframes item-1_move {
  0%, 100% {transform: translate(0, 0) skew(-10deg,-10deg); border-radius: 16px 4px 4px 4px;}
  25% {transform: translate(0, 100px) skew(10deg,10deg); border-radius: 4px 4px 4px 16px;}
  50% {transform: translate(100px, 100px) skew(-10deg,-10deg); border-radius: 4px 4px 16px 4px;}
  75% {transform: translate(100px, 0) skew(10deg,10deg); border-radius: 4px 16px 4px 4px;}
}

@keyframes item-2_move {
  0%, 100% {transform: translate(0, 0) skew(10deg,10deg); border-radius: 4px 16px 4px 4px;}
  25% {transform: translate(-100px, 0) skew(-10deg,-10deg); border-radius: 16px 4px 4px 4px;}
  50% {transform: translate(-100px, 100px) skew(10deg,10deg); border-radius: 4px 4px 4px 16px;}
  75% {transform: translate(0, 100px) skew(-10deg,-10deg); border-radius: 4px 4px 16px 4px;}
}

@keyframes item-3_move {
  0%, 100% {transform: translate(0, 0) skew(-10deg,-10deg); border-radius: 4px 4px 16px 4px;}
  25% {transform: translate(0, -100px) skew(10deg,10deg); border-radius: 4px 16px 4px 4px;}
  50% {transform: translate(-100px, -100px) skew(-10deg,-10deg); border-radius: 16px 4px 4px 4px;}
  75% {transform: translate(-100px, 0) skew(10deg,10deg); border-radius: 4px 4px 4px 16px;}
}

@keyframes item-4_move {
  0%, 100% {transform: translate(0, 0) skew(10deg,10deg); border-radius: 4px 4px 4px 16px;}
  25% {transform: translate(100px, 0) skew(-10deg,-10deg); border-radius: 4px 4px 16px 4px;}
  50% {transform: translate(100px, -100px) skew(10deg,10deg); border-radius: 4px 16px 4px 4px;}
  75% {transform: translate(0, -100px) skew(-10deg,-10deg); border-radius: 16px 4px 4px 4px;}
}
