@mixin clear {
    margin: 0;
    padding: 0;
}

@mixin clear-list {
    @include clear;
    list-style: none;
}
// MEDIA
@mixin for-large-desktops-and-laptops {
    @media (min-width: 1200px) { @content; }
}

@mixin for-landscape-phones-and-portrait-tablets-2 {
    @media (max-width: 1110px) { @content; }
}

@mixin for-portrait-tablets-and-medium-desktops {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
}

@mixin for-portrait-tablets-and-small-desktops {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
}

@mixin for-landscape-phones-and-portrait-tablets {
    @media (max-width: 767px) { @content; }
}

@mixin for-landscape-phones-and-smaller {
    @media (max-width: 810px) { @content; }
}

// _______________________________________

@mixin for-super-smaller4 {
    @media (min-width: 391px) and (max-width: 440px) { @content; }
}

@mixin for-super-smaller3 {
    @media (min-width: 351px) and (max-width: 390px) { @content; }
}

@mixin for-super-smaller2 {
    @media (max-width: 350px) { @content; }
}

@mixin for-super-smaller {
    @media (max-width: 315px) { @content; }
}
