@import '../partials/_params.scss';
@import '../partials/_mixins.scss';
@import '../partials/_animations.scss';

@import url('https://fonts.googleapis.com/css?family=Ruslan+Display&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700,700i&subset=cyrillic');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

// Main Section Styles
.christmas-fortune-telling {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @include clear;
    }
    ul {
        @include clear-list;
    }
    a {
        text-decoration: none;
    }
    input {
        font-family: 'Ruslan Display', cursive;
        font-weight: 400;
    }
    button {
        font-family: 'Ruslan Display', cursive;
        font-weight: 400;
    }

    &__content {
        @include for-landscape-phones-and-portrait-tablets-2 {
            width: 465px;
            height: 530px;
        }
        @include for-landscape-phones-and-portrait-tablets {
            width: 465px;
            height: 530px;
        }
        @include for-landscape-phones-and-smaller {
            width: 300px;
            height: 530px;
        }
        font-family: 'Ruslan Display', cursive;
        font-weight: 400;
        width: 760px;
        height: 650px;
        border: 4px solid transparent;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        overflow: hidden;
    }

    &__intro-box {
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(lighten(transparentize($global-lilac-blue, .1), 5%), darken(transparentize($global-lilac-blue, .85), 20%)), url(https://raw.githubusercontent.com/ProUnebit/Reminder_ToMe_Reminder/master/src/assets/img/gadanie-titul.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        .signature-bg-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                padding: 3px !important;
            }
            @include for-landscape-phones-and-portrait-tablets {
                padding: 3px !important;
            }
            @include for-landscape-phones-and-smaller {
                padding: 2px !important;
            }
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            position: absolute;
            z-index: 9;
            right: 0px;
            bottom: 0px;
            background-color: transparentize(darken($global-lilac-blue, 30%), .75);
            border-radius: 5px 0 0 0;
            padding: 5px !important;
            span {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 12px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    font-size: 12px;
                }
                @include for-landscape-phones-and-smaller {
                    font-size: 11px;
                }
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                font-size: 13px;
                color: transparentize($global-white, .5);
                &:first-child {
                    margin-right: 2px;
                }
                &:last-child {
                    color: transparentize($global-cream, .5);
                }
            }
        }
        .title-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            @include for-landscape-phones-and-smaller {
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 20px;
            h2 {
                @include for-landscape-phones-and-smaller {
                    font-size: 20px;
                }
                font-family: 'Ruslan Display', cursive;
                font-weight: 400;
                color: $global-cream;
                font-size: 27px;
                font-weight: 400;
            }
            img {
                margin-top: 12px;
                width: auto;
                height: auto;
            }
        }
        .desc-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                margin-bottom: 20px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                margin-bottom: 20px;
            }
            @include for-landscape-phones-and-smaller {
                margin-bottom: 20px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            p {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 18px;
                    line-height: 27px;
                    text-align: center;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    font-size: 18px;
                    line-height: 27px;
                    text-align: center;
                }
                @include for-landscape-phones-and-smaller {
                    font-size: 17px;
                    text-align: center;
                    padding-left: 10px;
                    padding-right: 10px;
                    line-height: 24px;
                }
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 22px;
                line-height: 30px;
                color: $global-white;
            }
        }
        .input-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                width: 300px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                width: 300px;
            }
            @include for-landscape-phones-and-smaller {
                 width: 250px;
            }
            display: flex;
            justify-content: center;
            border: 2px solid gold;
            width: 355px;
            margin: 0 auto;
            overflow: hidden;
            border: 8px solid rgba(255, 255, 204, 0.25);
            border-radius: 40px;
            transition: all .25s ease-out;
            &:hover {
                border: 8px solid rgba(255, 255, 204, 0.35);
            }
            input {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    width: 300px;
                    height: 50px;
                    font-size: 34px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    width: 300px;
                    height: 50px;
                    font-size: 34px;
                }
                @include for-landscape-phones-and-smaller {
                    width: 250px;
                    height: 45px;
                    font-size: 30px;
                }
                width: 335px;
                height: 60px;
                font-size: 38px;
                text-align: center;
                line-height: 60px;
                padding-top: 7px;
                padding-left: 10px;
                padding-right: 10px;
                color: $global-lilac-blue;
                background-color: $global-white;
                outline: none;
                box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.35), 0px 12px 32px 0px rgba(0, 0, 0, 0.35);
                border: 0;
                transition: all .25s ease-out;
                &::placeholder {
                    @include for-landscape-phones-and-portrait-tablets-2 {
                        font-size: 30px;
                    }
                    @include for-landscape-phones-and-portrait-tablets {
                        font-size: 30px;
                    }
                    @include for-landscape-phones-and-smaller {
                        font-size: 26px;
                    }
                    color: lighten($global-lilac-blue, 12%);
                    font-size: 32px;
                }
                &:focus {
                    background-color: lighten($global-cream, 2%);
                }
            }
        }
        .question-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                margin-top: 25px;
                margin-bottom: 20px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                margin-top: 25px;
                margin-bottom: 20px;
            }
            @include for-landscape-phones-and-smaller {
                margin-top: 20px;
                margin-bottom: 15px;
            }
            margin-top: 50px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            p {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    width: 400px;
                    font-size: 42px;
                    line-height: 42px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    width: 400px;
                    font-size: 42px;
                    line-height: 42px;
                }
                @include for-landscape-phones-and-smaller {
                    width: 270px;
                    font-size: 32px;
                    line-height: 32px;
                }
                width: 600px;
                color: $global-white;
                font-size: 62px;
                line-height: 62px;
                text-align: center;
                text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
            }
        }
        .button-box {
            display: flex;
            justify-content: center;
            button {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    width: 165px;
                    height: 55px;
                    font-size: 26px;
                    padding-top: 2px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    width: 165px;
                    height: 55px;
                    font-size: 26px;
                    padding-top: 2px;
                }
                @include for-landscape-phones-and-smaller {
                    width: 165px;
                    height: 55px;
                    font-size: 26px;
                    padding-top: 2px;
                }
                visibility: hidden;
                position: relative;
                height: 65px;
                width: 205px;
                color: $global-white;
                background: linear-gradient(to top, $global-bittersweet, darken($global-bittersweet, 5%));
                outline: none;
                border: 0;
                padding-top: 6px;
                border-radius: 12px;
                font-size: 32px;
                text-align: center;
                line-height: 57px;
                cursor: pointer;
                box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.35);
                animation: 2.2s fuzZz-move ease-in-out infinite;
                animation-delay: .5s;
                transition: all .135s ease-out;
                &:hover {
                    animation-play-state: paused;
                    color: $global-cream;
                }
                &:active {
                    color: darken($global-cream, 5%);
                    background: linear-gradient(to top, darken($global-bittersweet, 5%), darken($global-bittersweet, 10%));
                }
            }
        }
    }

    &__loader-box {
        @extend .christmas-fortune-telling__intro-box;
        display: none;
        .preloader-box {
            h4 {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 30px;
                    padding-top: 25px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    font-size: 30px;
                    padding-top: 25px;
                }
                @include for-landscape-phones-and-smaller {
                    font-size: 30px;
                    padding-top: 25px;
                }
                font-family: 'Ruslan Display', cursive;
                font-weight: 400;
                font-size: 34px;
                color: $global-white;
                padding-top: 40px;
                text-align: center;
                text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
                animation: loader-text-up 1.1715s ease-in-out infinite;
            }
        }
    }

    &__result-box {
        @extend .christmas-fortune-telling__intro-box;
        display: none;
        background: linear-gradient(lighten(transparentize($global-lilac-blue, .15), 5%), darken(transparentize($global-cream, .85), 20%)), url(https://raw.githubusercontent.com/ProUnebit/Reminder_ToMe_Reminder/master/src/assets/img/gadanie-titul.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: auto;
        .question-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                margin-top: 5px;
                margin-bottom: 10px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                margin-top: 5px;
                margin-bottom: 10px;
            }
            @include for-landscape-phones-and-smaller {
                margin-top: 5px;
                margin-bottom: 10px;
            }
            margin-top: 10px;
            margin-bottom: 20px;
            p {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 30px;
                    line-height: 30px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    font-size: 30px;
                    line-height: 30px;
                }
                @include for-landscape-phones-and-smaller {
                    font-size: 30px;
                    line-height: 30px;
                }
                width: 340px;
                font-size: 34px;
                line-height: 34px;
            }
        }
        .answer-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                padding: 15px;
                padding-top: 8px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                padding: 15px;
                padding-top: 8px;
            }
            @include for-landscape-phones-and-smaller {
                padding: 15px;
                padding-top: 5px;
            }
            width: 75%;
            background-position: center center;
            background-color: transparentize(darken($global-lilac-blue, 30%), .65);
            margin: 0 auto;
            border-radius: 12px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            padding-top: 10px;
            animation: result-name-up .1878s linear;
            span {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 28px;
                    margin-bottom: 15px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    font-size: 28px;
                    margin-bottom: 15px;
                }
                @include for-landscape-phones-and-smaller {
                    margin-bottom: 15px;
                    font-size: 26px;
                }
                display: inline-block;
                margin-bottom: 20px;
                font-family: 'Ruslan Display', cursive;
                font-weight: 400;
                font-size: 32px;
                color: $global-cream;
                border-bottom: 2px solid transparentize($global-cream, .15);
            }
            p {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 26px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    font-size: 26px;
                }
                @include for-landscape-phones-and-smaller {
                    font-size: 24px;
                }
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                color: $global-white;
                font-size: 28px;
                text-align: center;
                animation: result-name-up .25s ease-out;
                text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
                &:last-child {
                    @include for-landscape-phones-and-portrait-tablets-2 {
                        font-size: 18px;
                        margin-top: 5px;
                        padding: 15px;
                    }
                    @include for-landscape-phones-and-portrait-tablets {
                        font-size: 18px;
                        margin-top: 5px;
                        padding: 15px;
                    }
                    @include for-landscape-phones-and-smaller {
                        font-size: 18px;
                        padding: 10px;
                        margin-top: 2px;
                    }
                    margin-top: 10px;
                    background-color: transparentize(lighten($global-cream, 2%), .15);
                    border: 1px solid $global-cream;
                    color: darken($global-lilac-blue, 13%);
                    border-radius: 4px;
                    padding: 20px;
                    font-size: 22px;
                    animation: result-answer-up .75s ease-in;
                    text-shadow: none;
                }
            }
        }
        .soc-net-share-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                width: 60%;
            }
            @include for-landscape-phones-and-portrait-tablets {
                width: 60%;
            }
            @include for-landscape-phones-and-smaller {
                width: 63%;
            }
            background-color: transparentize(darken($global-lilac-blue, 30%), .65);
            border-radius: 0px 0px 12px 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 280px;
            margin: 0 auto;
            animation: result-name-up .1878s linear;
            p {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 16px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    font-size: 16px;
                }
                @include for-landscape-phones-and-smaller {
                    text-align: center;
                    font-size: 14px;
                }
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                color: $global-white;
                text-transform: uppercase;
                font-size: 20px;
                text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                margin-bottom: 5px;
            }
            &__list {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    margin-bottom: 2px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    margin-bottom: 2px;
                }
                @include for-landscape-phones-and-smaller {
                    margin-bottom: 0px;
                }
                @include clear-list;
                display: flex;
                margin-bottom: 7px;
            }
            &__item {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    min-width: 40px;
                    min-height: 40px;
                    margin: 5px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    min-width: 40px;
                    min-height: 40px;
                    margin: 5px;
                }
                @include for-landscape-phones-and-smaller {
                    min-width: 35px;
                    min-height: 35px;
                    margin: 5px;
                }
                border-radius: 6px;
                margin: 10px;
                min-width: 45px;
                min-height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 0 1px 3px rgba(0,0,0,0.45);
                transition: all .115s linear;
                & i {
                    @include for-landscape-phones-and-portrait-tablets-2 {
                        font-size: 17px;
                    }
                    @include for-landscape-phones-and-portrait-tablets {
                        font-size: 17px;
                    }
                    @include for-landscape-phones-and-smaller {
                        font-size: 16px;
                    }
                    font-size: 18px;
                }
                &:hover {
                    transform: translateY(-3px);
                }
            }
            &__item--vk {
                background-color: $global-vk;
                color: $global-white;
                &:hover {
                    background-color: lighten($global-vk, 5%);
                }
                &:active {
                    background-color: lighten($global-vk, 10%);
                }
            }
            &__item--fa {
                background-color: $global-fa;
                color: $global-white;
                &:hover {
                    background-color: lighten($global-fa, 5%);
                }
                &:active {
                    background-color: lighten($global-fa, 10%);
                }
            }
            &__item--tw {
                background-color: $global-tw;
                color: $global-white;
                &:hover {
                    background-color: lighten($global-tw, 5%);
                }
                &:active {
                    background-color: lighten($global-tw, 10%);
                }
            }
            &__item--te {
                background-color: $global-te;
                color: $global-white;
                &:hover {
                    background-color: lighten($global-te, 5%);
                }
                &:active {
                    background-color: lighten($global-te, 10%);
                }
            }
        }
        .button-box {
            @include for-landscape-phones-and-portrait-tablets-2 {
                margin-top: 10px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                margin-top: 10px;
            }
            @include for-landscape-phones-and-smaller {
                margin-top: 12px;
            }
            margin-top: 18px;
            button {
                @include for-landscape-phones-and-portrait-tablets-2 {
                    height: 48px;
                    font-size: 18px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    height: 48px;
                    font-size: 18px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include for-landscape-phones-and-smaller {
                    height: 48px;
                    font-size: 18px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                position: relative;
                z-index: 19;
                visibility: visible;
                height: 55px;
                width: auto;
                padding-top: 6px;
                padding-left: 15px;
                padding-right: 15px;
                font-size: 26px;
                line-height: 26px;
                animation-delay: 1.85s;
            }
        }
    }
}

// Preloader Styles
.preloader-container {
    @include for-landscape-phones-and-portrait-tablets-2 {
        margin-top: 265px;
    }
    @include for-landscape-phones-and-portrait-tablets {
        margin-top: 265px;
    }
  @include for-landscape-phones-and-smaller {
    margin-top: 240px;
  }
  position: absolute;
  z-index: 9;
  width: 150px;
  height: 150px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 275px;
  background-color: transparentize($global-cream, .35);
  background: radial-gradient(circle, rgba(255,236,13,0.55) 0%, rgba(200,37,59,0.3) 57%, rgba(88,86,193,0.3956933115042892) 100%);
  border-radius: 50%;
}

.preloader-item {
  width: 100px;
  height: 100px;
  position: absolute;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.preloader-item--1 {
  background-color: lighten($global-lilac-blue, 2%);
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 16px 4px 4px 4px;
  animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.preloader-item--2 {
  background-color: lighten($global-lilac-blue, 10%);
  top: 0;
  right: 0;
  border-radius: 4px 16px 4px 4px;
  animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.preloader-item--3 {
  background-color: lighten($global-lilac-blue, 20%);
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 4px 4px 16px 4px;
  animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.preloader-item--4 {
  background-color: lighten($global-lilac-blue, 28%);
  bottom: 0;
  left: 0;
  border-radius: 4px 4px 4px 16px;
  animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

// Actions Styles
.game-actions {
    &__displaying-off {
        display: none !important;
    }
    &__displaying-on {
        display: block !important;
    }
}
